body
{
    display: grid;
    background-color: #9CBFFF;
    width: 920px;
    font-family: Arial;
}

header,footer
{
    background-color: #064063;
    border:1px solid white;
    border-radius:20px;
    color:white;

    text-align: center;

    grid-area: h;
    text-decoration: none;

}
header h1
{
    text-shadow: 2px 2px 0px #FF0000, -2px -2px 0px #9CBFFF;
}
section.pictures
{

}
header,footer a
{
    color: white;
    text-decoration: none;
}
footer a:hover
{
    color: brown;
}
footer
{

}
section.pictures
{
    margin:5px;
    width:83vh;
    height: 300px;
    grid-area:p;
    border:1px solid white;
    border-radius: 5px;
}
aside
{
    grid-area:a;
    color:#FFAC15;
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding:50px;
    box-shadow: inset 30px 30px 30px #FFAC15;
    font-weight: bold;
    transform: rotate(90deg);
width:300px;
    float:right;



}
article
{
    text-align: justify;
    overflow-y: scroll;
    border:1px solid white;
    border-radius: 5px;
    background-color: white;
    margin:1px;
    width: 300px;
    height: 300px;

}
article.first
{
    grid-area: x;
    float:left;

}
article.second
{
    grid-area:y;
    float: left;
}
article.third
{
    grid-area:z;
    float:right;
}
main
{
    grid-template-areas:

            "h h h h h h"
            "p p p p p a"
            "x x y y z z"
            "f f f f f f";
}